.home-container {
  background-color: #FFFAF3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh; /* Ensure the container takes up at least the full height of the viewport */
}

.header {
  background-color: #FBF4E9;
  height: 90px;
  border-radius: 65px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  width: 95%; /* Ensure the header spans the full width of the page */
  /*margin-bottom: 20px; /* Add margin to separate header from main content */
}

.logo, .title, .profile-name {
  cursor: pointer;
}

.left-section {
  margin-right: auto; /* Pushes the middle and right sections to the right */
}

.right-section {
  margin-left: auto; /* Pushes the login button to the right */
}

.logo {
  width: 30px; /* Adjust size as needed */
  height: auto; /* Maintain aspect ratio */
  margin-right: 10px; /* Add spacing between logo and title */
}

.title {
  font-size: 24px; /* Adjust font size as needed */
  font-weight: bold; /* Make text bold */
}

.right-section a {
  text-decoration: none; /* Remove underline from the link */
  color: black; /* Adjust color as needed */
  padding: 10px 20px; /* Add padding to the login button */
  border-radius: 5px; /* Add rounded corners to the button */
}

.large-rectangle {
  background-color: #FBF4E9;
  width: 80%; /* Adjusted to take up 80% of the page width */
  max-width: 1115px; /* Maximum width for larger screens */
  height: 570px;
  border-radius: 65px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.main-content {
  text-align: center; /* Center the text */
}
  
.checkbox-group {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center the checkboxes vertically */
}

.checkbox-group label {
  margin-bottom: 10px;
}

button {
  display: block;
  margin: 20px auto; /* Center the button horizontally */
  font-size: 1.5rem; /* Adjust button text size as needed */
}

.loading-message {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading-box {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Shadow effect */
}

.loading-box p {
  margin: 0;
  font-size: 16px;
  text-align: center;
}
